@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 600;
    font-size:20px;
    background-color: #f2f6fa;
}

.nav-color{
    background-color:#f3f4f7;
}

.navbar .container-fluid {
    padding: 0 100px;
}

.navbar-brand img{
    width: 200px;
    height: 100px;
    border-radius: 50%;
}

.navbar-nav li{
    padding: 0 20px;
}
.navbar-nav li a{
    font-weight: 700;
    float: right;
    text-align: left;
    margin-bottom: 3px;
}

 #shoe-title-1{
     color: red;
     font-weight: 800;
 }
 #shoe-title-2, #sneakers{
     color: #4644DC;
     font-weight: 700;
 }
 .sneakers{
    color: #4644DC;
    font-weight: 700;
    padding-bottom: 20px;
    text-align: center;
}
 #shoe-des{
     color: #52565e;
     font-size: 16px;

 }

 .btn-color{
     background-color: #ff4c4c;
     border: 0px;
 }

 .btn-color:hover{
    background-color: #EF4056;
 }
.title-card{
    color: red;
    font-weight: 800;
}
.card-info{
    color: #52565e;
     font-size: 16px;
}
.price{
    padding-top: 10px;;
    color: #4644DC;
    font-weight: 700;
}

.slider-title{
    color: #4644DC;
     font-weight: 700;

}
.slider-info{
    color: #52565e;
     font-size: 16px;
}
.carousel-item{
    padding: 20px 40px;
}
footer{
    background-color: #f2f6fa;
}